@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.overlay {
  width: 80%;
  max-width: 400px;
  height: 400px;
  z-index: 5;
  background-color: rgba(68, 68, 68, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: -30%;
  overflow: auto; 
  display: flex;
  justify-content: center;
}
@media (min-width: 1024px) {
  .overlay {
    margin-top: -10%; 
  }
}
.overlay1 {
  width: 80%;
  max-width: 400px;
  height: 400px;
  z-index: 5;
  background-color: rgba(68, 68, 68, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 20px;
  margin-top: -10%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .overlay1 {
    margin-top: -30%; 
  }
}
.textinput {
    display: none;
    height: 20%;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.notes{
    margin-top: 20px;
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.timer {
    z-index: 5;
    display: none;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
    font-size: 50px;
}
.rectangle-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 90%;
  max-width: 90%;
  margin-top: 10px;
  border-radius: 10px;
}

.rectangle-list li {
  min-height: 80px;
  background-color: #fff;
  color: #111;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: 300;
  border-radius: 10px;
  padding-top: 10px;
}

.priceSec{
    color: #111;
    font-weight: 500;
    width: 100%;
    height: 120%;
    background-color: rgba(13, 165, 224, 0.3);
    margin-top: 10px;
    border-radius: 0px 0px 10px 10px;
}

.rectangle-list li.no-background {
  background-color: transparent; 
  color: white;
  border: none;
  font-size: 22px;
}

.button {
  width: 75%;
  max-width: 400px;
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-family: 'Rubik Dirt', cursive;
  font-size: 46px;
  color: white;
  z-index: 5;
}

.clickarea{
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #0da5e0;
    z-index: 1;
}
body {
  background-color: none;
}

.currentEarnings {
    font-size: 92px;
    display: flex;
    justify-content: center;
    color: #0da5e0;
}

.timer {
    font-size: 36px;
    color: white;
    margin-top: 10px;
    display: flex;
  }
  
  .timer.active {
    animation: timerCountUp 1s infinite;
  }
  
  @keyframes timerCountUp {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  animation: rippleEffect 1s;
}

@keyframes rippleEffect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
