@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.overlay {
  width: 80%;
  max-width: 400px;
  height: 400px;
  z-index: 1;
  background-color: rgba(68, 68, 68, 0.9);
  border: 2px solid white;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: -30%;
  overflow: auto; /* Add scrollable functionality */
  display: flex;
  justify-content: center;
}
.overlay1 {
    width: 80%;
    max-width: 400px;
    height: 400px;
    z-index: 1;
    background-color: rgba(68, 68, 68, 0.9);
    border: 2px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: -30%;
    display: none;
    flex-direction: column;

    justify-content: center;
}
.textinput {
    display: none;
    height: 20%;
    margin: 10px;
    padding: 10px;
}
.notes{
    color: #fff;
    text-align: center;
    font-size: 24px;
}
.timer {
    z-index: 2;
    display: none;
    justify-content: center;
}
.rectangle-list {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 90%;
  max-width: 90%;
  margin-top: 10px;
  border-radius: 10px;
}

.rectangle-list li {
  padding: 10px;
  min-height: 80px;
  background-color: #fff;
  border: 2px solid white;
  color: #111;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  border-radius: 10px;
}

.rectangle-list li.no-background {
  background-color: transparent; /* Set the background color to transparent for "Your Previous Shifts" list item */
  color: white;
  border: none;
  font-size: 22px;
}

.button {
  width: 75%;
  max-width: 400px;
  height: 60px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-family: 'Rubik Dirt', cursive;
  font-size: 46px;
  color: white;
  z-index: 1;
}
#map {
    z-index: 1;
}

.clickarea{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: #0da5e0;
    z-index: 0;
}
body {
  background-color: none;
}
.timer {
    font-size: 36px;
    color: white;
    font-family: 'Staatliches', cursive;
    margin-top: 10px;
    display: flex;
  }
  
  .timer.active {
    animation: timerCountUp 1s infinite;
  }
  
  @keyframes timerCountUp {
    from {
      transform: scale(1.2);
    }
    to {
      transform: scale(1);
    }
  }

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  animation: rippleEffect 1s;
}

@keyframes rippleEffect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
